html { overflow: hidden; }
body { font-family: 'Open Sans', sans-serif; line-height: .8; font-size: 45px; }

.background {
	position: fixed;
	height: 100%;
	width: 100%;
	background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #F6F6F6);
	background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#F6F6F6));
	z-index: 0;
    opacity: 1;
}

.title {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 1240px;
    height: 600px;
    text-align: left;
}

.title .title-main-first {
    font-size: 120px;
    font-weight: 800;
}

.title .title-main-second {
    font-size: 62px;
    font-weight: 500;
    line-height: 1.5;
    color: #505050;
}

.title-third {
    color: #133640;
    font-size: 120px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: left;
}

.title-fourth {
    color: #FF4F4B;
    font-size: 50px;
    line-height: 2;
    font-weight: 400;
    display: block;
}

.title-fourth span {
    font-weight: 600;
}

/* COMMON STEP STYLES */

.step {
    width: 1240px;
    /*padding: 20px;*/

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    
    /*text-shadow: rgba(0,0,0,.01) 0 0 1px;*/ /* Chrome @font-face anti-aliasing fix */
}

/*.step:not(.active) { opacity: 0.1; }*/


/* The main style text */
.text-style-one {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 500;
    display: block;
}
.text-style-one span {
    font-weight: 700;
    color: #0579a9;
}

.text-style-two {
    color: #133640;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 500;
    display: block;
}
.text-style-two i {
    color: #0579a9;
}

.text-style-three {
    color: #133640;
    font-size: 22px;
    line-height: 1;
    font-weight: 400;
    display: block;
}
.text-style-three span {
    font-weight: 600;
}

/* Present continuous tab starts */
.tab1-col1 {
    width: 220px;
}
.tab1-col2 {
    width: 100px;
}
.tab1-col3 {
    width: 230px;
}
/* Present continuous tab ends */

/* Present simple tab starts */
.tab2-col1 {
    width: 230px;
}
.tab2-col2 {
    width: 350px;
}
.tab2-col3 {
    width: 230px;
}
.tab2-col4 {
    width: 155px;
}
.tab2-col5 {
    width: 575px;
}
.tab2-col6 {
    width: 110px;
}
.tab2-col7 {
    width: 230px;
}
/* Present simple tab ends */

/* Past simple tab starts */
.tab3-col1 {
    width: 100px;
}
.tab3-col2 {
    width: 250px;
}
.tab3-col3 {
    width: 90px;
}
.tab3-col4 {
    width: 130px;
}
.tab3-col5 {
    width: 185px;
}
.tab3-col6 {
    width: 90px;
}
.tab3-col7 {
    width: 355px;
}
.tab3-col8 {
    width: 410px;
}
.tab3-col9 {
    width: 450px;
}
/* Past simple tab ends */

/* Past continuous tab starts */
.tab4-col1 {
    width: 220px;
}
.tab4-col2 {
    width: 130px;
}
/* Past continuous tab ends */

/* Present perfect tab starts */
.tab5-col1 {
    width: 230px;
}
.tab5-col2 {
    width: 110px;
}
.tab5-col3 {
    width: 210px;
}
/* Present perfect tab ends */

/* Present perfect continuous tab starts */
.tab6-col1 {
    width: 230px;
}
.tab6-col2 {
    width: 110px;
}
.tab6-col3 {
    width: 200px;
}
.tab6-col4 {
    width: 120px;
}
/* Present perfect continuous tab ends */

/* Past perfect tab starts */
.tab7-col1 {
    width: 230px;
}
.tab7-col2 {
    width: 100px;
}
.tab7-col3 {
    width: 200px;
}
.tab7-col4 {
    width: 120px;
}
/* Past perfect tab ends */






